{% extends 'frontend/base.html' %}

{% block title %}Record Triage{% endblock %}
{% load static %}

{% block content %}

<!-- Nurses and Admins -->
{% if user.userprofile.is_nurse or user.userprofile.is_admin %}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-xl">
      <div class="card mb-4">
        <div class="card-body">      
          <h4 class="card-title">Record Triage / <small class="text-primary">{{company|slice:"0:19"}}</small></h4>
          <p class="card-description">Fill out this form to record nursing triage</p>
          <form method="POST" action="." class="forms-sample">
            {% csrf_token %}
            <div class="row">
              {% include 'frontend/includes/select_patient_and_date.html' %}
              
              <div class="col-6 col-md-4 form-group pb-3">
                <label for="exampleInputUsername1">Temperature </label>
                <input type="text" name="temp" class="form-control" placeholder="Temperature" maxlength="12" />
                <small id="emailHelp" class="form-text text-muted">Max. 12 characters</small>
              </div>
              <div class="col-6 col-md-4 form-group pb-3">
                <label for="exampleInputUsername1">Blood Pressure </label>
                <input type="text" name="bp" class="form-control" placeholder="Blood Pressure" maxlength="12" />
                <small id="emailHelp" class="form-text text-muted">Max. 12 characters</small>
              </div>

              <div class="col-6 col-md-4 form-group pb-3">
                <label for="exampleInputUsername1">Pulse </label>
                <input type="text" name="pulse" class="form-control" placeholder="Pulse" maxlength="12" />
                <small id="emailHelp" class="form-text text-muted">Max. 12 characters</small>
              </div>
              <div class="col-6 col-md-4 form-group pb-3">
                <label for="exampleInputUsername1">Respiration </label>
                <input type="text" name="respiration" class="form-control" placeholder="Respiration" maxlength="12" />
                <small id="emailHelp" class="form-text text-muted">Max. 12 characters</small>
              </div>
              <div class="col-6 col-md-4 form-group pb-3">
                <label for="exampleInputUsername1">SPO 2 </label>
                <input type="text" name="spo2" class="form-control" placeholder="SPO 2" maxlength="12" />
                <small id="emailHelp" class="form-text text-muted">Max. 12 characters</small>
              </div>
              <div class="col-6 col-md-4 form-group pb-3">
                <label for="exampleInputUsername1">LMP </label>
                <input type="text" name="lmp" class="form-control" placeholder="LMP" maxlength="12" />
                <small id="emailHelp" class="form-text text-muted">Max. 12 characters</small>
              </div>
              <div class="col-6 col-md-4 form-group pb-3">
                <label for="exampleInputUsername1">Weight (w)</label>
                <input type="text" name="weight" class="form-control" placeholder="Weight" maxlength="12" />
                <small id="emailHelp" class="form-text text-muted">Max. 12 characters</small>
              </div>
              <div class="col-6 col-md-4 form-group pb-3">
                <label for="exampleInputUsername1">Height (h)</label>
                <input type="text" name="height" class="form-control" placeholder="Height" maxlength="12" />
                <small id="emailHelp" class="form-text text-muted">Max. 12 characters</small>
              </div>
              <div class="col-12 col-md-4 form-group pb-3">
                <label for="exampleInputUsername1">Body Mass Index (w/h2)</label>
                <input type="text" name="bmi" class="form-control" placeholder="Body Mass Index " maxlength="12" />
                <small id="emailHelp" class="form-text text-muted">Max. 12 characters</small>
              </div>
              <div class="col-12 col-md-12 form-group pb-3">
                <label for="exampleInputUsername1">Medication </label>
                <textarea name="medication" class="form-control" placeholder="Medication"></textarea>
                <small id="emailHelp" class="form-text text-muted"><span class="text-danger">Required. </span></small>
              </div>
              <div class="col-12 col-md-12 form-group pb-3">
                <label for="exampleInputUsername1">Nurse Report </label>
                <textarea name="nurse_report" class="form-control" placeholder="Nurse Report"></textarea>
                <small id="emailHelp" class="form-text text-muted"><span class="text-danger">Required. </span></small>
              </div>
              
              <input type="text" name="created_by" class="form-control" value="{{user.userprofile.first_name}} {{user.userprofile.last_name}}" style="display: none" />
              <div class="col-12 col-md-6 form-group pb-3">
                <button class="btn btn-primary me-2">Save Record</button>
                <button type="reset" class="btn btn-outline-secondary">Cancel</button>
              </div>
              <br />
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% else %}
  {% include 'frontend/includes/page_unauthorized.html' %}
{% endif %}

{% endblock %}
