{% extends 'frontend/base.html' %}

{% block title %}Patient's Profile{% endblock %}
{% load static %}

{% block content %}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-xl">
      <div class="card mb-4">
        <div class="card-body">      
          <h4 class="card-title">{{patient.fname}}'s Profile / <small class="text-primary">{{company|slice:"0:19"}}</small></h4>
          
          <form method="POST" action="." class="forms-sample mt-4">
            {% csrf_token %}
            <div class="row">
              <div class="col-12 col-md-4 form-group pb-3">
                <label>First Name </label>
                <h5 class="mt-2">{{patient.fname}}</h5>
              </div>
              <div class="col-12 col-md-8 form-group pb-3">
                <label>Surname</label>
                <h5 class="mt-2">{{patient.sname}}</h5>
              </div>
              <div class="col-12 col-md-4 form-group pb-3">
                <label for="">Gender</label>
                <h5 class="mt-2">{{patient.gender}}</h5>
              </div>
              <div class="col-12 col-md-8 form-group pb-3">
                <label for="exampleInputPassword1">Address</label>
                <h5 class="mt-2">{{patient.address}}</h5>
              </div>
              <div class="col-12 col-md-4 form-group pb-3">
                <label for="">Phone Number</label>
                <h5 class="mt-2">{{patient.phone}}</h5>
              </div>
              <div class="col-12 col-md-8 form-group pb-3">
                <label for="exampleInputPassword1">Email</label>
                <h5 class="mt-2">{{patient.email}}</h5>
              </div>
              <div class="col-12 col-md-4 form-group pb-3">
                <label for="">Contact Person</label>
                <h5 class="mt-2">{{patient.contact_person}}</h5>
              </div>
              <div class="col-12 col-md-8 form-group pb-3">
                <label for="exampleInputPassword1">Contact Person' Phone</label>
                <h5 class="mt-2">{{patient.contact_person_phone}}</h5>
              </div>
              <div class="col-12 col-md-8 form-group pb-3">
                <label for="exampleInputPassword1">Recorded By</label>
                <h5 class="mt-2">{{patient.created_by}}</h5>
              </div><br />
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
                