{% extends 'frontend/base.html' %}

{% block title %}Request Labtest (from Lab){% endblock %}
{% load static %}

{% block content %}
<script defer src="{% static 'js/requestlabtest.js' %}"></script>

<!-- Doctors and Admins -->
{% if user.userprofile.is_doc or user.userprofile.is_admin %}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-xl">
      <div class="card mb-4">
        <div class="card-body">      
          <h4 class="card-title">Request Labtest (from Lab) / <small class="text-primary">{{company|slice:"0:19"}}</small></h4>
          <p class="card-description">Fill out this form to record medicine dispensing</p>
          <form method="POST" action="." class="forms-sample">
            {% csrf_token %}
            <div class="row">
              {% include 'frontend/includes/select_patient_and_date.html' %}

              <div class="row"> 
                <div class="col-12 col-md-8">
                  <div class="form-row"> 
                    <div class="col-12 mb-3">
                        <br /><h6 className="seofct-icon pb-0 mb-0"><i class="fa fa-flask"></i> <b>Biochemistry</b></h6>
                    </div>
                    <div class="row custom-checkboxes px-2 text-dark">
                      <div class="col-6 col-md-4 form-group pb-3">
                          <input type="checkbox" value="CEA" class="chkcvalues" />
                          <label for="exampleInputUsername1"> &nbsp; CEA </label>
                      </div>
                      <div class="col-6 col-md-4 form-group pb-3">
                          <input type="checkbox" value="CA 1" class="chkcvalues" />
                          <label for="exampleInputUsername1"> &nbsp; CA 1 </label>
                      </div>
                      <div class="col-6 col-md-4 form-group pb-3">
                          <input type="checkbox" value="CA 5" class="chkcvalues" />
                          <label for="exampleInputUsername1"> &nbsp; CA 5 </label>
                      </div>
                      <div class="col-6 col-md-4 form-group pb-3">
                        <input type="checkbox" value="HIV 12" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; HIV 1 &amp; 2</label>
                      </div>
                      <div class="col-6 col-md-4 form-group pb-3">
                          <input type="checkbox" value="Uric Acid" class="chkcvalues" />
                          <label for="exampleInputUsername1"> &nbsp; Uric Acid </label>
                      </div>
                      <div class="col-6 col-md-4 form-group pb-3">
                          <input type="checkbox" value="Glucose" class="chkcvalues" />
                          <label for="exampleInputUsername1"> &nbsp; Glucose </label>
                      </div>
                      <div class="col-6 col-md-4 form-group pb-3">
                        <input type="checkbox" value="Free T4" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; Free T4</label>
                      </div>
                      <div class="col-6 col-md-4 form-group pb-3">
                          <input type="checkbox" value="PSA" class="chkcvalues" />
                          <label for="exampleInputUsername1"> &nbsp; PSA</label>
                      </div>
                      <div class="col-6 col-md-4 form-group pb-3">
                          <input type="checkbox" value="CA 9" class="chkcvalues" />
                          <label for="exampleInputUsername1"> &nbsp; CA 9 </label>
                      </div>
                      <div class="col-6 col-md-4 form-group pb-3">
                        <input type="checkbox" value="HBA1c" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; HBA1c</label>
                      </div>
                      <div class="col-6 col-md-4 form-group pb-3">
                          <input type="checkbox" value="HBSAc" class="chkcvalues" />
                          <label for="exampleInputUsername1"> &nbsp; HBSAc</label>
                      </div>
                      <div class="col-6 col-md-4 form-group pb-3">
                          <input type="checkbox" value="H. Pylari" class="chkcvalues" />
                          <label for="exampleInputUsername1"> &nbsp; H. Pylari</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-row"> 
                    <div class="col-12 mb-3">
                      <br /><h6 className="seofct-icon pb-0 mb-0"><i className="fa fa-flask"></i> <b>Haematology</b></h6>
                    </div>
                    <div class="row custom-checkboxes px-2 text-dark">
                    <div class="col-6 col-md-4 form-group pb-3">
                        <input type="checkbox" value="FBE" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; FBE </label>
                    </div>
                    <div class="col-6 col-md-4 form-group pb-3">
                        <input type="checkbox" value="FBC" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; FBC</label>
                    </div>
                    <div class="col-6 col-md-4 form-group pb-3">
                        <input type="checkbox" value="HB" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; HB</label>
                    </div>
                    <div class="col-6 col-md-4 form-group pb-3">
                      <input type="checkbox" value="TWDC" class="chkcvalues" />
                      <label for="exampleInputUsername1"> &nbsp; TWDC</label>
                    </div>
                    <div class="col-6 col-md-4 form-group pb-3">
                        <input type="checkbox" value="Platelets" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; Platelets</label>
                    </div>
                    <div class="col-12 col-md-4 form-group pb-3">
                        <input type="checkbox" value="ABO and RH (D)" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; ABO and RH (D) </label>
                    </div>
                    <div class="col-12 col-md-4 form-group pb-3">
                      <input type="checkbox" value="Malaria Parasites" class="chkcvalues" />
                      <label for="exampleInputUsername1"> &nbsp; Malaria Parasites</label>
                    </div>
                  </div>
                </div>

                <div class="form-row"> 
                  <div class="col-12 mb-3">
                    <br /><h6 className="seofct-icon pb-0 mb-0"><i className="fa fa-flask"></i> <b>Microbiology</b></h6>
                  </div>
                  <div class="row custom-checkboxes px-2 text-dark">
                    <div class="col-6 col-md-4 form-group pb-3">
                        <input type="checkbox" value="Urine" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; Urine</label>
                    </div>
                    <div class="col-6 col-md-4 form-group pb-3">
                        <input type="checkbox" value="Microscopy" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; Microscopy</label>
                    </div>
                    <div class="col-6 col-md-4 form-group pb-3">
                        <input type="checkbox" value="RPR (VDRL)" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; RPR (VDRL)</label>
                    </div>
                    <div class="col-6 col-md-4 form-group pb-3">
                      <input type="checkbox" value="AFB (Smear)" class="chkcvalues" />
                      <label for="exampleInputUsername1"> &nbsp; AFB (Smear)</label>
                    </div>
                    <div class="col-12 col-md-4 form-group pb-3">
                        <input type="checkbox" value="AFB(Smear/Culture)" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; AFB(Smear/Culture)</label>
                    </div>
                    <div class="col-6 col-md-4 form-group pb-3">
                        <input type="checkbox" value="G2000" class="chkcvalues" />
                        <label for="exampleInputUsername1"> &nbsp; G2000</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-4">
                <div class="col-12 mb-3"><br />
                  <h6 className="seofct-icon pb-0 mb-0"><b>Lab Tests selected from the checkboxes are automatically enlisted here</b></h6>
                </div>
                <textarea name="tests" id="txtvalues" class="form-control mb-4" rows="6" required></textarea>
                <small id="emailHelp" class="form-text text-muted"><span class="text-danger">Required. </span> You can manually add more tests and separate each with comma</small>
              </div>
            </div>
            
            <input type="text" name="created_by" class="form-control" value="{{user.userprofile.first_name}} {{user.userprofile.last_name}}" style="display: none" />
            <div class="col-12 col-md-6 form-group pb-3">
              <button class="btn btn-primary me-2">Save Record</button>
              <button type="reset" class="btn btn-outline-secondary">Cancel</button>
            </div><br />
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% else %}
  {% include 'frontend/includes/page_unauthorized.html' %}
{% endif %}

{% endblock %}
