{% extends 'frontend/base.html' %}

{% block title %}Request Drug Dispensing{% endblock %}
{% load static %}

{% block content %}
<script defer src="{% static 'js/requestdrug.js' %}"></script>

<!-- Doctors, Pharmacists and Admins -->
{% if user.userprofile.is_doc or user.userprofile.is_pharm or user.userprofile.is_admin %}
<div class="content-wrapper">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-xl">
      <div class="card mb-4">
        <div class="card-body">      
          <h4 class="card-title">Request Drug Dispensing / <small class="text-primary">{{company|slice:"0:19"}}</small></h4>
          <p class="card-description">Fill out this form to request medicine dispensing</p>
          <form method="POST" action="." class="forms-sample">
            {% csrf_token %}
            <div class="row">
              <div class="col-12 col-md-12 form-group pb-3">
                <label for="exampleInputUsername1">Diagnosis </label>
                <textarea name="diagnosis" class="form-control" placeholder="Diagnosis" required></textarea>
                <small id="emailHelp" class="form-text text-muted"><span class="text-danger">Required. </span></small>
              </div>
              <div class="form-row"> 
                <div class="row custom-checkboxes px-2 text-dark">
                  <div class="col-12 col-md-4 form-group pb-3">
                    <h6 className="seofct-icon pb-0 mb-0"><i class="fa fa-flask"></i> <b>Medicine</b></h6>
                    <input type="text" class="chkcvalues form-control" placeholder="Paracetamol" />
                  </div>
                  <div class="col-12 col-md-8 form-group pb-3">
                    <h6 className="seofct-icon pb-0 mb-0"><i class="fa fa-flask"></i> <b>Dosage</b></h6>
                    <div class="row">
                      <div class="col-6 col-md-3">
                        <input type="checkbox" value="1x daily" class="chkcvalues2" />
                        <label for="exampleInputUsername1"> &nbsp; 1x daily</label>
                      </div>
                      <div class="col-6 col-md-3">
                        <input type="checkbox" value="2x daily" class="chkcvalues2" />
                        <label for="exampleInputUsername1"> &nbsp; 2x daily</label>
                      </div>
                      <div class="col-6 col-md-3">
                        <input type="checkbox" value="3x daily" class="chkcvalues2" />
                        <label for="exampleInputUsername1"> &nbsp; 3x daily</label>
                      </div>
                      <div class="col-6 col-md-3">
                        <input type="checkbox" value="Morning" class="chkcvalues2" />
                        <label for="exampleInputUsername1"> &nbsp; Morning</label>
                      </div>
                      <div class="col-6 col-md-3">
                        <input type="checkbox" value="Night" class="chkcvalues2" />
                        <label for="exampleInputUsername1"> &nbsp; Night</label>
                      </div>
                      <div class="col-6 col-md-3">
                        <input type="checkbox" value="Before meal" class="chkcvalues2" />
                        <label for="exampleInputUsername1"> &nbsp; Before meal</label>
                      </div>
                      <div class="col-6 col-md-3">
                        <input type="checkbox" value="After meal" class="chkcvalues2" />
                        <label for="exampleInputUsername1"> &nbsp; After meal</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 form-group">
                    <button class="chkcbtn btn btn-success btn-sm">+ Add to list</button>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-4">
                <div class="col-12 mb-3">
                  <br /><label className="seofct-icon pb-0 mb-0">Medicines/Dosages that you have selected are automatically enlisted here</label> 
                </div>
                <textarea name="medicine_dosage" id="txtvalues" class="form-control" required></textarea>
                <small id="emailHelp" class="form-text text-muted"><span class="text-danger">Required. </span> You can manually add more medicine/dosages and separate each with comma</small>
              </div>
              
            {% include 'frontend/includes/select_patient_and_date.html' %}
            </div>
            <input type="text" name="created_by" class="form-control" value="{{user.userprofile.first_name}} {{user.userprofile.last_name}}" style="display: none" />
            <div class="col-12 col-md-6 form-group pb-3">
              <button class="btn btn-primary me-2">Save Record</button>
              <button type="reset" class="btn btn-outline-secondary">Cancel</button>
            </div><br />
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% else %}
  {% include 'frontend/includes/page_unauthorized.html' %}
{% endif %}

{% endblock %}
