<div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
    <div class="order-0 mb-4">
    <div class="card h-100 bg-white">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
            <div class="card-title mb-0">
                <h4 class="m-0 me-2">All Users</h4>
                <small class="">Staff and other users </small>
            </div>
        </div>
        <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2 text-white">
            <div class="d-flex flex-column align-items-center gap-1">
            <h1 class="mb-2 display-1">{{ users }}</h1>
            <span>Total Users</span>
            </div>
            <div id="orderStatisticsChart"></div>
        </div>
        
        </div>
    </div>
  </div>
</div> 