<div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
    <div class="order-0 mb-4">
    <div class="card h-100 bg-white">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
            <div class="card-title mb-0">
                <h4 class="m-0 me-2">Task Records </h4>
                <small class="">12,600 Report Statistics</small>
            </div>
        </div>
        <div class="card-body">
        <div class="d-flex justify-content-between align-items-center text-white">
            <div class="d-flex flex-column align-items-center gap-1">
            <h2 class="mb-2 display-1">{{ reports }}</h2>
            <span>Task Reports</span>
            </div>
            <div id="orderStatisticsChart"></div>
        </div>
        <ul class="p-0 m-0">
            <li class="d-flex pb-1">
            <div class="avatar flex-shrink-0 me-3">
                <span class="avatar-initial rounded bg-label-success"><i class="bx bx-closet"></i></span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                <h6 class="mb-0 text-white">{{latest_report}}</h6>
                <small class="text-white">T-shirt, Jeans, Shoes</small>
                </div>
            </div>
            </li>
        </ul>
        </div>
    </div>
  </div>
</div> 