<div class="col-12 col-md-6 form-group pb-3">
  <label for="">Patient</label>
  <select class="select2 form-select" name="patient" required >
    <option value="">- Choose Patient -</option>
    {% for pat in patients %}
      <option value="{{pat.id}}">{{pat.fname}} {{pat.sname}} ({{pat.gender}}) - {{pat.phone}}</option>
    {% endfor %}
  </select>
  <small id="emailHelp" class="form-text text-muted"><span class="text-danger">Required. </span> Select the patient.</small>
</div>

<div class="col-12 col-md-6 form-group pb-3">
  <label for="exampleInputUsername1">Date of Visit </label>
  <input type="date" name="date_of_visit" class="form-control" required />
  <small id="emailHelp" class="form-text text-muted"><span class="text-danger">Required. </span></small>
</div>