{% load static %}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-custom">
	<div class="app-brand demo">
		<a href="" class="app-brand-link">
		  <span class="app-brand-logo demo">
		  <img src="{% static 'images/logo.png' %}" class="header-brand-img" alt="lavalite" style="width:50px" /> 
		  </span>
		  <span class="app-brand-text demo menu-text fw-bolder ms-2 text-white text-capitalize">{{company|slice:"0:8"}}</span>
		</a>

		<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
		  <i class="bx bx-chevron-left bx-sm align-middle"></i>
		</a>
	</div>
	<div class="menu-inner-shadow"></div>

	<ul class="menu-inner py-1">
	  <!-- Dashboard -->
	  <li class="menu-item active">
		<a href="{% url 'dashboard' %}" class="menu-link">
		  <i class="menu-icon tf-icons bx bx-home-circle"></i>
		  <div data-i18n="Analytics">Dashboard</div>
		</a>
	  </li>

	  <!-- Layouts -->
	  <li class="menu-item">
		<a href="javascript:void(0);" class="menu-link menu-toggle">
		  <i class="menu-icon tf-icons bx bx-layout"></i>
		  <div data-i18n="Layouts">Patients</div>
		</a>

		<ul class="menu-sub">
		  <li class="menu-item">
			<a href="{% url 'register_patient' %}" class="menu-link">
			  <div data-i18n="Without menu">Register Patients</div>
			</a>
		  </li>
		  <li class="menu-item">
			<a href="{% url 'patients' %}" class="menu-link">
			  <div data-i18n="Without navbar">Patients</div>
			</a>
		  </li>
		</ul>
	  </li>  
	  <li class="menu-header small text-uppercase">
		<span class="menu-header-text">Users</span>
	  </li>

	  {% if user.userprofile.is_doc or user.userprofile.is_admin %}
	  <li class="menu-item">
		<a href="javascript:void(0);" class="menu-link menu-toggle">
		  <i class="menu-icon tf-icons bx bx-dock-top"></i>
		  <div data-i18n="Account Settings">Doctor</div>
		</a>
		<ul class="menu-sub">
		  <li class="menu-item">
			<a href="{% url 'write_note_soap' %}" class="menu-link">
			  <div data-i18n="Account">Write Note (S.O.A.P)</div>
			</a>
		  </li>
		  <li class="menu-item">
			<a href="{% url 'view_notes_soap' %}" class="menu-link">
			  <div data-i18n="Notifications">View Notes (S.O.A.P)</div>
			</a>
		  </li>
		  <li class="menu-item">
			<a href="{% url 'request_labtest_lab' %}" class="menu-link">
			  <div data-i18n="Connections">Request Labtest (Lab)</div>
			</a>
		  </li>
		  <li class="menu-item">
			<!-- <a href="view_testresult_lab" class="menu-link"> -->
			<a href="{% url 'labresult' %}" class="menu-link">
			  <div data-i18n="Connections">View TestResult (Lab)</div>
			</a>
		  </li>

		  <li class="menu-item">
			<!-- <a href="request_triage_nurse" class="menu-link"> -->
			<a href="{% url 'request_triage_nurse' %}" class="menu-link">
			  <div data-i18n="Connections">Request Triage (Nurse)</div>
			</a>
		  </li>
		  <li class="menu-item">
			<a href="{% url 'triage' %}" class="menu-link">
			  <div data-i18n="Connections">View Triage (Nurse)</div>
			</a>
		  </li>

		  <li class="menu-item">
			<a href="{% url 'request_drug_dispensing' %}" class="menu-link">
			  <div data-i18n="Connections">Request Drug (Pharm)</div>
			</a>
		  </li>
		</ul>
	  </li>
	  {% endif %}

	  {% if user.userprofile.is_lab or user.userprofile.is_admin %}
	  <li class="menu-item">
		<a href="javascript:void(0);" class="menu-link menu-toggle">
		  <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
		  <div data-i18n="Authentications">Lab. Scientist</div>
		</a>
		<ul class="menu-sub">
		  <li class="menu-item">
			<a href="{% url 'labresult' %}" class="menu-link">
			  <div data-i18n="Basic">Record Lab.Result</div>
			</a>
		  </li>
		</ul>
	  </li>
	  {% endif %}

	  {% if user.userprofile.is_nurse or user.userprofile.is_admin %}
	  <li class="menu-item">
		<a href="javascript:void(0);" class="menu-link menu-toggle">
		  <i class="menu-icon tf-icons bx bx-cube-alt"></i>
		  <div data-i18n="Misc">Nurse</div>
		</a>
		<ul class="menu-sub">
		  <li class="menu-item">
			<a href="{% url 'triage' %}" class="menu-link">
			  <div data-i18n="Error">Nursing Triage</div>
			</a>
		  </li>
		</ul>
	  </li>
	  {% endif %}

	  {% if user.userprofile.is_pharm or user.userprofile.is_admin %}
	  <li class="menu-item">
		<a href="javascript:void(0)" class="menu-link menu-toggle">
		  <i class="menu-icon tf-icons bx bx-box"></i>
		  <div data-i18n="User interface">Pharmacist</div>
		</a>
		<ul class="menu-sub">
		  <li class="menu-item">
			<a href="{% url 'dispense_drugs' %}" class="menu-link">
			  <div data-i18n="Accordion">Dispense Drugs</div>
			</a>
		  </li>
		</ul>
	  </li>
	  {% endif %}

	  <!-- <li class="menu-item">
		<a href="javascript:void(0)" class="menu-link menu-toggle">
		  <i class="menu-icon tf-icons bx bx-copy"></i>
		  <div data-i18n="Extended UI">Extended UI</div>
		</a>
		<ul class="menu-sub">
		  <li class="menu-item">
			<a href="extended-ui-perfect-scrollbar.html" class="menu-link">
			  <div data-i18n="Perfect Scrollbar">Perfect scrollbar</div>
			</a>
		  </li>
		  <li class="menu-item">
			<a href="extended-ui-text-divider.html" class="menu-link">
			  <div data-i18n="Text Divider">Text Divider</div>
			</a>
		  </li>
		</ul>
	  </li> -->

	  <!-- Components -->
	  <li class="menu-header small text-uppercase"><span class="menu-header-text">More</span></li>
	  
	  {% if user.userprofile.is_admin %}
	  <li class="menu-item">
		<a href="{% url 'create_account' %}" class="menu-link">
		  <i class="menu-icon tf-icons bx bx-copy"></i>
		  <div data-i18n="Connections">Create User</div>
		</a>
	  </li>
	  {% endif %}

	  <li class="menu-item">
		<a href="{% url 'logout' %}" class="menu-link">
		  <i class="menu-icon tf-icons bx bx-collection"></i>
		  <div data-i18n="Basic">Logout</div>
		</a>
	  </li>
	  <!-- <li class="menu-item">
		<a href="icons-boxicons.html" class="menu-link">
		  <i class="menu-icon tf-icons bx bx-crown"></i>
		  <div data-i18n="Boxicons">Boxicons</div>
		</a>
	  </li> -->
	</ul>
  </aside>